@import "./variables";
@import "./bootstrap/functions";
@import "./bootstrap/variables";
@import "./bootstrap/mixins/breakpoints";

.hamburger {
  position: relative;
  cursor: pointer;
  background: transparent;
  border: none;
  z-index: 14;
  left: -70px;
  display: none;
 
  @include media-breakpoint-down(lg) {
    display: block;
  }

  @include media-breakpoint-down(xs) {
    left: 0;
    top: 0;
  }
}
