/**
 * modules/variables
 * ---
 */
/**
 * Typography
 */


$font-size-base: 19px;
$line-height-base: 1.6;

$thin: 100;
$light: 300;
$regular: 400;
$bold: 700;

/**
  * Colors
*/

$color-text: #333333;
$color-gold: #EBCDA9;
$color-gray: #333333;


