/**
 * modules/variables
 * ---
 */
/**
 * Typography
 */


$font-size-base: 19px;
$line-height-base: 1.6;
$font-family-base: myriad-pro, sans-serif;

$regular: 400;
$bold: 700;

/**
  * Colors
*/

$color-text: #333333;
$color-black: #151518;
$color-gray: #53535b;


