@import "../../assets/styles/modules/variables";
@import "./helpers";
@import "../modules/mixins";

.btn {
    font-size: 18px;
    font-weight: $bold;
    text-align: center;
    display: inline-block;
    border-radius: 50px;
    appearance: none;
    border: 1px solid transparent;
    text-transform: uppercase;
    transition: all .25s;
    cursor: pointer;
    outline: none!important;

    &--primary {
        @extend .btn;
        background-color: #fff;
        color: #000;

        &:hover {
            background-color: #000;
            color: #fff
        }
    }

    &--secondary {
        @extend .btn;
        background-color: rgba($color: #fff, $alpha: 0.25);
        color: #fff;

        &:hover {
            background-color: #fff;
            color: #000;
        }
    }
}

.rounded-input {
    background-color: #000;
    border: 2px solid $color-gray;
    border-radius: 50px;
    outline: none;
    appearance: none;
    font-size: 14px;
    padding: 5px 15px;
    color: #fff;
}