.btn {
    &--add {
        padding: 14px 45px 14px 30px;

        svg {
            margin-right: 15px;
            path {
                transition: all .25s;
                fill: #fff;
            }
        }

        &:hover {
            svg {
                path {
                    fill: #000;
                }
            }
        }
    }
}