@import "../../assets/styles/modules/variables";
@import "../../assets//styles/partials/helpers";
@import "../../assets/styles/modules/mixins";

.movies-slider {
    margin-bottom: 100px;
    position: relative;

    &__category-name {
        font-size: 36px;
        color: #fff;
        padding-left: 5%;
        margin-bottom: 10px;
    }

    .single-movie {
        &__image {
            margin: 0 auto;
            display: block;
        }
    }

    .slick-arrow {
        border: 3px solid red!important;
    }
}