@import "../../assets/styles/modules/variables";
@import "../../assets//styles/partials/helpers";
@import "../../assets/styles/modules/mixins";

.movies-slider {
    margin-bottom: 100px;
    position: relative;
    padding: 0 6%;

    &__category-name {
        font-size: 36px;
        color: #fff;
        padding-left: 2.2%;
        margin-bottom: 10px;
    }

    .single-movie {
        z-index: 3;
        position: relative;
        cursor: pointer;
        transition: all .25s;

        &:hover {
            opacity: 0.6;
        }

        &__image {
            margin: 0 auto;
            display: block;
        }
    }
}