@import "../../assets/styles/modules/variables";
@import "../../assets//styles/partials/helpers";
@import "../../assets/styles/modules/mixins";
@import "../../assets/styles/modules/bootstrap/functions";
@import "../../assets/styles/modules/bootstrap/variables";
@import "../../assets/styles/modules/bootstrap/mixins/breakpoints";

.footer {
    background-color: $color-black;
    padding: 150px 0 80px;

    @include media-breakpoint-down(lg) {
        padding: 150px 0 80px;
    }

    .container {
        max-width: 1110px;
        margin: 0 auto;
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        padding-left: 185px;

        @include media-breakpoint-down(lg) {
            padding-left: 210px;
        }

        @include media-breakpoint-down(md) {
            padding-left: 150px;
        }
        @include media-breakpoint-down(sm) {
            justify-content: space-between;
            padding-left: 15px;
            flex-wrap: wrap;
        }

        &__netflix-logo {
            position: absolute;
            left: 0;
            top: 10px;

            @include media-breakpoint-down(lg) {
                left: 70px;
            }

            @include media-breakpoint-down(sm) {
                left: 50%;
                transform: translate(-50%, 0);
                top: -150px;
            }
        }

        .inner {
            margin-right: 130px;

            @include media-breakpoint-down(lg) {
                margin-right: 80px;
            }

            @include media-breakpoint-down(md) {
                margin-right: 50px;
            }

            @include media-breakpoint-down(sm) {
                margin-right: 0;
                flex: 0 0 50%;
                max-width: 50%;
                min-height: 145px;

                &:nth-child(1),
                &:nth-child(2) {
                    margin-bottom: 30px;
                }
            }

            @include media-breakpoint-down(xs) {
                flex: 0 0 100%;
                max-width: 100%;
                min-height: auto;
                margin-bottom: 30px;
            }

            &:last-of-type {
                margin-right: 0
            }

            &__menu {
                @include reset-list;

                li {
                    margin-bottom: 15px;

                    @include media-breakpoint-down(sm) {
                        text-align: center;
                    }

                    &:last-of-type {
                        margin-bottom: 0;
                    }

                    a {
                        font-size: 15px;
                        color: #53535b;
                        
                        @include media-breakpoint-down(sm) {
                            text-align: center;
                        }

                        &:hover {
                            color: #fff;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }

    .socials-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 47px;

        &__single-icon {
            margin: 0 19px;
            cursor: pointer;

            svg {
                width: 34px;
                height: 34px;
                transition: all .25s;
                cursor: pointer;
                
                path {
                    fill: $color-gray;
                    transition: all .25s;
                }
    
                &:hover {
                    path {
                        fill: $color-red;
                    }
                }
            }
        }
    }
}