@import "../../assets/styles/modules/variables";
@import "../../assets//styles/partials/helpers";
@import "../../assets/styles/modules/mixins";
@import "../../assets/styles/modules/bootstrap/functions";
@import "../../assets/styles/modules/bootstrap/variables";
@import "../../assets/styles/modules/bootstrap/mixins/breakpoints";

.popup-container {
    background-color: rgba($color: #000, $alpha: 0.8);
    width: 100%;
    height: 100vh;
    top: 0;
    justify-content: center;
    align-items: center;
    position: fixed;
    display: none;
    left: 0;
    z-index: 100;

    &.active-popup {
        display: flex;
    }

    .popup-details {
        max-width: 700px;
        display: flex;
        padding: 60px 40px;
        border-radius: 10px;
        background-color: #000;
        justify-content: flex-start;
        align-items: flex-start;
        z-index: 100;
        border: 1px solid $color-red;
        position: relative;
        max-height: 600px;

        @include media-breakpoint-down(sm) {
            max-width: calc(100% - 30px);
            padding: 40px 30px;
            flex-direction: column;
            overflow-y: auto;
        }

        @include media-breakpoint-down(xs) {
            max-height: calc(100% - 80px)
        }
    
        &__close-button {
            right: 15px;
            top: 15px;
            color: #fff;
            display: block;
            position: absolute;
            font-size: 23px;
            cursor: pointer;
        }

        &__image {
            display: block;

            @include media-breakpoint-down(xs) {
                margin: 0 auto;
            }
        }
    
        .text-container {
            margin: -15px 0 0 40px;

            @include media-breakpoint-down(sm) {
                margin: 30px 0 0 0;
            }
    
            &__title {
                font-size: 36px;
                color: #fff;
                font-weight: $bold;

                @include media-breakpoint-down(md) {
                    font-size: 30px;
                    line-height: 1.1;
                }
            }
    
            &__date {
                color: #fff;
                opacity: 0.3;
                font-size: 18px;
            }
    
            &__artist {
                color: #fff;
                font-size: 16px;
            }
    
            &__desc {
                color: #fff;
                margin: 20px 0;
                max-height: 137px;
                overflow-y: auto;

                @include media-breakpoint-down(sm) {
                    font-size: 15px;
                }
            }

            .buttons-container {
                display: flex;
                width: 100%;
                justify-content: space-between;
                align-items: center;

                @include media-breakpoint-down(sm) {
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                }   

                &__button {
                    &:first-of-type {
                        @include media-breakpoint-down(sm) {
                            margin-bottom: 20px;
                        }
                    }
                }
            }
        }
    }
}

.popup-overlay {
    position: absolute;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($color: #000, $alpha: 0.2);
    z-index: 10;
    display: none;
}