@import url("https://use.typekit.net/agn0ger.css");

@import "modules/bootstrap/bootstrap";
@import "./modules/bootstrap/functions";
@import "./modules/bootstrap/variables";
@import "./modules/bootstrap/mixins/breakpoints";;
@import "./modules/variables";
@import "./modules/bootstrap/mixins";

.container-fluid {
  padding-left: 6%;
  padding-right: 6%;
}

body {
  font-style: normal;
  background-color: #fff;
  color: $color-text;
  font-family: $font-family-base;
  font-size: 17px;
  font-weight: $regular;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}
a,
p,
ul,
ol {
  margin: 0px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

button {
  background-color: transparent;
  background:transparent;
  border: none;
  outline: none!important;
  appearance: none;
  border-radius: 0;
}

@import "modules/_mixins";

@import "partials/_elements";
@import "partials/_helpers";

@import "modules/_media";
